.aspirants  {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 30px;
    align-items: center;
    margin-bottom: 35px;
}

.person, .personb, .personc, .persond, 
.persone, .personf, .persong    {
    width: 30%;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #009933;
    cursor: pointer;
    margin: 10px auto;
}

.border     {
    border: 3px solid #009933;
}



.aspirantsimg      {
    max-width: 100%;
    border-radius: 15px;
    border: 4px solid #009933;
}

.aspirantsname  {
    font-size: 30px;
    color: rgb(156, 110, 11);
    font-family:'Lilita One', cursive;
}

.select     {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.hidedisplay, .hidedisplayb, .hidedisplayc,
.hidedisplayd, .hidedisplaye, .hidedisplayf, .hidedisplayg    {
    display: none;
}


/* .selection     {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
} */

.select p   {
    font-size: 25px;
    color: #009933;
    font-family: 'Kanit', sans-serif;
}
.select img  {
    width: 50px;
}


@media (max-width:745px){
    .person, .personb, .personc, .persond, 
.persone, .personf, .persong    {
    width: 45%;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #009933;
    cursor: pointer;
    margin: 10px auto;
}
}


@media (max-width:600px){
    .person, .personb, .personc, .persond, 
.persone, .personf, .persong    {
    width: 95%;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #009933;
    cursor: pointer;
    margin: 10px auto;
}

.aspirants  {
    padding: 10px 10px;
}
}
