.aspirants  {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 30px;
    align-items: center;
    margin-bottom: 35px;
}

.person      {
    width: 30%;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid green;
    cursor: pointer;
    margin: 10px auto;
}




.aspirantsimg      {
    max-width: 100%;
    border-radius: 15px;
    border: 4px solid green;
}

.aspirantsname  {
    font-size: 30px;
    color: rgb(156, 110, 11);
    font-family:'Lilita One', cursive;
}

.select     {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.hidedisplay    {
    display: none;
}


/* .selection     {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
} */

.select p   {
    font-size: 25px;
    color: #009933;
}
.select img  {
    width: 50px;
}

