/* @font-face {
    font-family: "Moby Andrfont";
    src: url(C:\Users\HP\Documents\fonts\Andrfont-v5.02-EBF066469E0097C745184D8AD19711F3.ttf);
} */


*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Moby Andrfont' !important; */
}

.passshow   {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

form i {
    margin-left: -30px;
    cursor: pointer;
}


body    {
    font-family: 'Kanit', sans-serif;
    /* font-family:'Lilita One', cursive; */
    background-image:url(./images/Group\ 2.svg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;       

}

.allform    {
    height: 100vh;
    display: flex;
}

form    {
    width: 30%;
    margin: auto;
    padding: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* border: #009933 1px solid; */
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.labin      {
    display: flex;
    flex-direction: column;
    margin: 10px auto 10px auto;
    width: 100%;
}

input  {
    width: 100%;
    padding: 16px;
    /* transition: 1s ease; */
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
        background-color:  #ecfaf1;
        border-radius: 8px;
        font-family: 'Moby Andrfont' sans-serif;
}

input:focus {
    outline: none;
    border-bottom: #009933 2px solid;
    background-color: #c8fdda  ;
  }

/* input:focus     {
    border-bottom: #009933 1px solid;
} */

.logogangan     {
    width: 150px;
    margin: 20px auto 50px auto;
}

.errorp     {
    display:none;
    font-size: 14px;
}

/* .loginbtn   {
    width: 100%;
    background-color: #009933;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
} */
.loginbtn a    {
    display: inline-block;
    width: 100%;
    background-color:transparent;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    padding: 16px;
}

.labin label   {
    font-size: 16px;
    margin-bottom: 8px;
}

.resetp     {
    color: #009933;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

.resetp:hover   {
    text-decoration: underline;
}

/* <!-- HTML !-->
<button class="button-19" role="button">Button 19</button> */

/* CSS */
.loginbtn {
  appearance: button;
  background-color: #009933;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  outline: none;
  overflow: visible;
  text-align: center;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  margin-top:18px ;
}

.loginbtn:after {
  background-clip: padding-box;
  background-color: #14c44e;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.loginbtn:main,
.loginbtn:focus {
  user-select: auto;
}

.loginbtn:hover {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

/* .loginbtn:{
  cursor: auto;
} */