*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.allform    {
    height: 100vh;
    display: flex;
}

form    {
    width: 70%;
    margin: auto;
    padding: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: #009933 1px solid;
    border-radius: 15px;
}


.labin      {
    display: flex;
    flex-direction: column;
    margin: 10px auto 10px auto;
    width: 40%;
}

input  {
    width: 100%;
    padding: 16px;
    /* transition: 1s ease; */
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
        background-color:  #ecfaf1;
        border-radius: 8px;
}

input:focus {
    outline: none;
    border-bottom: #009933 2px solid;
    background-color: #c8fdda  ;
  }

/* input:focus     {
    border-bottom: #009933 1px solid;
} */

.logogangan     {
    width: 150px;
    margin: 20px auto 50px auto;
}

.loginbtn   {
    padding: 16px;
    width: 100%;
    background-color: #009933;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}
.loginbtn button      {
    width: 100%;
    background-color:transparent;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.resetp     {
    color: #009933;
    text-decoration: none;
    cursor: pointer;
}

.resetp:hover   {
    text-decoration: underline;
}