*       {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


nav     {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 80px;
}
.mainlogo      {
    width: 150px;
}

.labin      {
    display: flex;
    flex-direction: column;
    /* margin: 10px auto 10px auto; */
    width: 15%;
}

.loginbtn   {
    width: 100%;
    background-color: #009933;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
}
.loginbtn a    {
    display: inline-block;
    width: 100%;
    background-color:transparent;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    padding: 16px;
}

.labin2      {
    display: flex;
    flex-direction: column;
    margin: 40px auto 20px auto;
    width: 30%;
    justify-content: center;
    align-items: center;
    
}
