/* @font-face {
    font-family: "Moby Andrfont";
    src: url(C:\Users\HP\Documents\fonts\Andrfont-v5.02-EBF066469E0097C745184D8AD19711F3.ttf);
} */

/* body    {
    font-family: "Moby Andrfont";
} */


*       {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#backdrop   {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background:rgba(0,0,0,0.75);
    z-index: 10;
    pointer-events: none;
    display: none;
}

.card   {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
}

.modal, .modalgo  {
    position: fixed;
    z-index: 100;
    width: 60%;
    top: 30vh;
    left: 23%;
    display: none;
}



.modal .modal_content  {
    padding: 1rem;
}

.modal .modal_actions  {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}


.modal .modal_title     {
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid red;
    background: purple;
    color: white;
    border-radius: 10px 10px 0 0;
}

.modalgo .modal_title     {
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid red;
    background: purple;
    color: white;
    border-radius: 10px 10px 0 0;
}


.modal.visible {
    display: block;
    animation: fade-slide-in 0.3s ease-out forwards;
}

.modalgo.visible {
    display: block;
    animation: fade-slide-in 0.3s ease-out forwards;
}
#backdrop.visible   {
    display: block;
    pointer-events:all;
}

#add-modal .modal_content  {
    display: flex;
    flex-direction: column;
}

nav     {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 80px;
}
.mainlogo      {
    width: 150px;
}

.labin      {
    display: flex;
    flex-direction: column;
    /* margin: 10px auto 10px auto; */
    width: 15%;
}

.loginbtn   {
    appearance: button;
    background-color: #009933;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    outline: none;
    overflow: visible;
    text-align: center;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
    margin-top:18px;
    }

    .loginbtn:after {
        background-clip: padding-box;
        background-color: #14c44e;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        bottom: -4px;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
      }
      
      .loginbtn:main,
      .loginbtn:focus {
        user-select: auto;
      }
      
      .loginbtn:hover {
        filter: brightness(1.1);
        -webkit-filter: brightness(1.1);
      }
.loginbtn a    {
    display: inline-block;
    width: 100%;
    background-color:transparent;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    padding: 16px;
}

.labin2      {
    display: flex;
    flex-direction: column;
    margin: 40px auto 20px auto;
    width: 30%;
    justify-content: center;
    align-items: center;
    
}
